@{
    ViewData["Title"] = "Get Coffee Order";
}

<h1>Welcome to @ViewData["StoreName"]</h1>

<a href="/GetCoffeeOrder/GetOrder" class="btn btn-primary">Get Coffee Order</a>
<a href="/GetCoffeeOrder/SendOrder" class="btn btn-primary">Get Coffee Order</a>

<br />

<label>Drink</label>
<h2>@ViewBag.drink</h2>

<label>Price</label>
<h2>@ViewBag.price</h2>