@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Movie Registration</h1>
    @Html.ActionLink("Go to Registration Page", "Registration")
</div>
